a{
    text-decoration: none;
    color: #333;
}
header{
    margin-bottom: 15px;
}
#head-top{
    width: 100%;
    background-image: url('../../assets//image/head-top.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}
#head-top img{
    height: 120%;
    width: 18%;
    display: flex;
}
#head-bottom{
    width: 80%;
    height: 75px;
    margin: 10px 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#head-bottom .head-bottom-left img{
    height: 120%;
    display: inline-flex;
}
#head-bottom .head-bottom-left img:first{
    margin-right: 20px
}
.head-bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#head-bottom li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
}
#head-bottom .form-control{
    display: inline-block;
    width: 75%;
}
#head-bottom span{
    padding: 2px;
    margin-bottom: 3px;
}
nav{
    width: 100%;
    padding: 0px 7.5%;
    background-color: #333;
}
.nav-pills>li {
    width: 12.5%;
    text-align: center;
}
.nav>li>a{
    color: #fff;
}
.nav-pills>li>a{
    border-radius: 0;
    cursor: pointer;
}
.nav-pills>li+li{
    margin: 0
}
.nav-pills>li.active>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: #b81c20;
}